In [ ]:
# -*- coding: utf-8 -*-

#Naives Bayes

In [1]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
#Bernoulli y multinomial se usan para analisis textual--> Sirve cuando tenemos categoricas
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np

df = pd.read_csv(r"C:\Users\user\Documents\PYTHON\Python data science y big data\Datos\Indicators_of_Health_Insurance_Coverage.csv",nrows=1e5)
df = df.sample(frac=1)
df = df.head(500000)

In [2]:
df = df.dropna(subset=['Value'])

In [3]:
Y = df['Value']>0

In [4]:
X = pd.get_dummies(data=df[['Group','Subgroup','State']])

In [5]:
X.head()

,Group_By Age,Group_By Disability status,Group_By Education,Group_By Gender identity,Group_By Race/Hispanic ethnicity,Group_By Sex,Group_By Sexual orientation,Group_By State,Group_National Estimate,Subgroup_18 - 24 years,...,State_Tennessee,State_Texas,State_United States,State_Utah,State_Vermont,State_Virginia,State_Washington,State_West Virginia,State_Wisconsin,State_Wyoming
3479,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3203,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
7689,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
280,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3876,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [6]:
clf = BernoulliNB()
#para cambiar parametros del modelo dentro del parentesis, de lo contrario lo hace con parametros por default
clf.fit(X,Y)
Y_pred = clf.predict(X)

In [7]:
np.mean(Y==Y_pred)
#Este deberia ser mucho mayor que 1-np.mean(Y), ya que de no ser asi, significa que las variables escogidas no tienen la 
#info suficiente para ser explicativas

1.0

In [8]:
1-np.mean(Y)

0.0

In [9]:
X = df[['Low CI','High CI']]
clf = GaussianNB()
clf.fit(X,Y)
Y_pred = clf.predict(X)

In [10]:
np.mean(Y==Y_pred)

1.0