In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
df_finance = pd.read_csv(r"C:\Users\user\Downloads\catalogo_cf.csv", encoding='iso-8859-1', nrows = 1000000)

In [6]:
df_finance.columns

Index(['Nombre de la serie ', 'Número secuencial', 'Alias de la serie',
       'Nombre del archivo con los valores de la serie',
       'Descripción de la serie', 'Tipo de variable', 'Código de unidades',
       'Exponente', 'Número de decimales',
       'Descripción de unidades y exponente', 'Frecuencia de la serie',
       'Fecha de la primera observación', 'Fecha de la última observación',
       'Número de observaciones', 'Título de la serie', 'Fuente', 'Notas'],
      dtype='object')

In [10]:
df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie'].max()
#Agrupa la base por nombre de la serie y luego toma el maximo frecuencia de la serie para cada nombre de serie y lo muestra

Nombre de la serie
DMZ10A0000$.Q                      TRIMESTRAL
DMZ10A0000%.Q                      TRIMESTRAL
DMZ10A0000A.Q                      TRIMESTRAL
DMZ10A0000B.Q                      TRIMESTRAL
DMZ10A0000C.Q                      TRIMESTRAL
                                      ...
DSPC102016VP70000_ES1_RS2_TSC.T    TRIMESTRAL
DSPC102016VP71000_ES1_RS2_TSC.T    TRIMESTRAL
DSPC102016VP72000_ES1_RS2_TSC.T    TRIMESTRAL
DSPC102016VP72100_ES1_RS2_TSC.T    TRIMESTRAL
DSPC102016VP72200_ES1_RS2_TSC.T    TRIMESTRAL
Name: Frecuencia de la serie, Length: 2807, dtype: object

In [12]:

df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie'].count()
#Resumen estadistico de la columna frecuencia de la serie segun los nombres de la serie

Nombre de la serie
DMZ10A0000$.Q                      2
DMZ10A0000%.Q                      1
DMZ10A0000A.Q                      2
DMZ10A0000B.Q                      1
DMZ10A0000C.Q                      1
                                  ..
DSPC102016VP70000_ES1_RS2_TSC.T    1
DSPC102016VP71000_ES1_RS2_TSC.T    1
DSPC102016VP72000_ES1_RS2_TSC.T    1
DSPC102016VP72100_ES1_RS2_TSC.T    1
DSPC102016VP72200_ES1_RS2_TSC.T    1
Name: Frecuencia de la serie, Length: 2807, dtype: int64

In [ ]:
df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie'].mean()
#Si quisiera saber el promedio de frecuencia de la serie por nombre de la serie, aunque en este caso no funciona porque la frecuencia no es numerica
df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie'].min()
df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie'].describe()
#Resumen estadistico de la columna frecuencia de la serie segun los nombres de la serie

In [13]:
df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie', 'Fecha de la primera observación'].count()
#Muestra el conteo de frecuencia de la serie y la fecha de la primera observacion para cada nombre de la serie

<ipython-input-13-5b3cbe9e42b9>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_finance.groupby(by = 'Nombre de la serie ')['Frecuencia de la serie', 'Fecha de la primera observación'].count()

,Frecuencia de la serie,Fecha de la primera observación
Nombre de la serie,,
DMZ10A0000$.Q,2,2
DMZ10A0000%.Q,1,1
DMZ10A0000A.Q,2,2
DMZ10A0000B.Q,1,1
DMZ10A0000C.Q,1,1
...,...,...
DSPC102016VP70000_ES1_RS2_TSC.T,1,1
DSPC102016VP71000_ES1_RS2_TSC.T,1,1
DSPC102016VP72000_ES1_RS2_TSC.T,1,1
DSPC102016VP72100_ES1_RS2_TSC.T,1,1
DSPC102016VP72200_ES1_RS2_TSC.T,1,1

In [14]:
df_finance.groupby(by = ['Nombre de la serie ', 'Número secuencial'])['Frecuencia de la serie'].count()

Nombre de la serie               Número secuencial
DMZ10A0000$.Q                    2208560              2
DMZ10A0000%.Q                    2208561              1
DMZ10A0000A.Q                    2208562              2
DMZ10A0000B.Q                    2208563              1
DMZ10A0000C.Q                    2208564              1
                                                     ..
DSPC102016VP70000_ES1_RS2_TSC.T  3778142              1
DSPC102016VP71000_ES1_RS2_TSC.T  3778144              1
DSPC102016VP72000_ES1_RS2_TSC.T  3778146              1
DSPC102016VP72100_ES1_RS2_TSC.T  3778148              1
DSPC102016VP72200_ES1_RS2_TSC.T  3778150              1
Name: Frecuencia de la serie, Length: 2807, dtype: int64

In [17]:
df_finance_nombre_numero = df_finance.groupby(by = ['Nombre de la serie ', 'Número secuencial'])['Frecuencia de la serie']

In [18]:
df_finance_nombre_numero.count()

Nombre de la serie               Número secuencial
DMZ10A0000$.Q                    2208560              2
DMZ10A0000%.Q                    2208561              1
DMZ10A0000A.Q                    2208562              2
DMZ10A0000B.Q                    2208563              1
DMZ10A0000C.Q                    2208564              1
                                                     ..
DSPC102016VP70000_ES1_RS2_TSC.T  3778142              1
DSPC102016VP71000_ES1_RS2_TSC.T  3778144              1
DSPC102016VP72000_ES1_RS2_TSC.T  3778146              1
DSPC102016VP72100_ES1_RS2_TSC.T  3778148              1
DSPC102016VP72200_ES1_RS2_TSC.T  3778150              1
Name: Frecuencia de la serie, Length: 2807, dtype: int64