In [3]:
# -*- coding: utf-8 -*-

In [7]:
import pandas as pd
import numpy as np
from joblib import Parallel, delayed

df = pd.read_csv(r"C:\Users\user\Downloads\Educacion_Colombia.csv",nrows=1000000)

In [8]:
df.columns

Index(['Time', 'Time Code', 'Country Name', 'Country Code',
       'Nivel de instrucción, al menos ciclo inferior de la escuela secundaria completo, población de más de 25 años, mujeres (%) (acumulativo) [SE.SEC.CUAT.LO.FE.ZS]',
       'Nivel de instrucción, al menos ciclo inferior de la escuela secundaria completo, población de más de 25 años, total (%) (acumulativo) [SE.SEC.CUAT.LO.ZS]',
       'Nivel de instrucción, al menos ciclo superior de la escuela secundaria completo, población de más de 25 años, mujeres (%) (acumulativo) [SE.SEC.CUAT.UP.FE.ZS]',
       'Nivel de instrucción, al menos ciclo inferior de la escuela secundaria completo, población de más de 25 años, varones (%) (acumulativo) [SE.SEC.CUAT.LO.MA.ZS]',
       'Nivel de instrucción, al menos ciclo superior de la escuela secundaria completo, población de más de 25 años, total (%) (acumulativo) [SE.SEC.CUAT.UP.ZS]',
       'Nivel de instrucción, al menos ciclo superior de la escuela secundaria completo, población de más de 25 años, varones (%) (acumulativo) [SE.SEC.CUAT.UP.MA.ZS]',
       'Nivel de instrucción, al menos escuela de nivel posterior a la secundaria completa, población de más de 25 años, total (%) (acumulativo) [SE.SEC.CUAT.PO.ZS]',
       'Nivel de instrucción, al menos escuela de nivel posterior a la secundaria completa, población de más de 25 años, mujeres (%) (acumulativo) [SE.SEC.CUAT.PO.FE.ZS]',
       'Nivel de instrucción, al menos escuela de nivel posterior a la secundaria completa, población de más de 25 años, varones (%) (acumulativo) [SE.SEC.CUAT.PO.MA.ZS]',
       'Nivel de instrucción, al menos escuela primaria completa, población de más de 25 años, mujeres (%) (acumulativo) [SE.PRM.CUAT.FE.ZS]',
       'Nivel de instrucción, al menos escuela primaria completa, población de más de 25 años, varones (%) (acumulativo) [SE.PRM.CUAT.MA.ZS]',
       'Nivel de instrucción, al menos escuela primaria completa, población de más de 25 años, total (%) (acumulativo) [SE.PRM.CUAT.ZS]',
       'Nivel de instrucción, al menos escuela terciaria de ciclo corto finalizada, población de más de 25 años, mujeres (%) (acumulativo) [SE.TER.CUAT.ST.FE.ZS]',
       'Nivel de instrucción, al menos escuela terciaria de ciclo corto finalizada, población de más de 25 años, varones (%) (acumulativo) [SE.TER.CUAT.ST.MA.ZS]',
       'Nivel de instrucción, al menos escuela terciaria de ciclo corto finalizada, población de más de 25 años, total (%) (acumulativo) [SE.TER.CUAT.ST.ZS]',
       'Nivel de instrucción, al menos nivel de doctorado o equivalente, población de más de 25 años, mujeres (%) (acumulativo) [SE.TER.CUAT.DO.FE.ZS]',
       'Nivel de instrucción, al menos nivel de doctorado o equivalente, población de más de 25 años, varones (%) (acumulativo) [SE.TER.CUAT.DO.MA.ZS]',
       'Nivel de instrucción, al menos nivel de doctorado o equivalente, población de más de 25 años, total (%) (acumulativo) [SE.TER.CUAT.DO.ZS]',
       'Nivel de instrucción, al menos nivel de licenciatura o equivalente, población de más de 25 años, mujeres (%) (acumulativo) [SE.TER.CUAT.BA.FE.ZS]',
       'Nivel de instrucción, al menos nivel de licenciatura o equivalente, población de más de 25 años, total (%) (acumulativo) [SE.TER.CUAT.BA.ZS]',
       'Nivel de instrucción, al menos nivel de maestría o equivalente, población de más de 25 años, mujeres (%) (acumulativo) [SE.TER.CUAT.MS.FE.ZS]',
       'Nivel de instrucción, al menos nivel de licenciatura o equivalente, población de más de 25 años, varones (%) (acumulativo) [SE.TER.CUAT.BA.MA.ZS]',
       'Nivel de instrucción, al menos nivel de maestría o equivalente, población de más de 25 años, total (%) (acumulativo) [SE.TER.CUAT.MS.ZS]',
       'Nivel de instrucción, al menos nivel de maestría o equivalente, población de más de 25 años, varones (%) (acumulativo) [SE.TER.CUAT.MS.MA.ZS]',
       'Proporción de mujeres con respecto a varones de jóvenes alfabetizados (% de jóvenes entre 15 y 24 años de edad) [SE.ADT.1524.LT.FM.ZS]',
       'Tasa de alfabetización, mujeres adultas (% de mujeres de 15 años o más) [SE.ADT.LITR.FE.ZS]',
       'Tasa de alfabetización, mujeres jóvenes (% de mujeres entre 15 y 24 años) [SE.ADT.1524.LT.FE.ZS]',
       'Tasa de alfabetización, total de jóvenes (% de personas entre 15 y 24 años) [SE.ADT.1524.LT.ZS]',
       'Tasa de alfabetización, varones jóvenes (% de varones entre 15 y 24 años) [SE.ADT.1524.LT.MA.ZS]',
       'Tasa de alfabetización, total de adultos (% de personas de 15 años o más) [SE.ADT.LITR.ZS]',
       'Tasa de alfabetización, varones adultos (% de varones de 15 años o más) [SE.ADT.LITR.MA.ZS]',
       'Tasa de finalización de la educación de nivel primario, mujeres (% del grupo etario correspondiente) [SE.PRM.CMPT.FE.ZS]',
       'Tasa de finalización de la educación de nivel primario, varones (% del grupo etario correspondiente) [SE.PRM.CMPT.MA.ZS]',
       'Tasa de finalización de la educación de nivel primario, total (% del grupo etario correspondiente) [SE.PRM.CMPT.ZS]',
       'Tasa de finalización del ciclo inferior de la educación secundaria, mujeres (% del grupo etario pertinente) [SE.SEC.CMPT.LO.FE.ZS]',
       'Tasa de finalización del ciclo inferior de la educación secundaria, varones (% del grupo etario pertinente) [SE.SEC.CMPT.LO.MA.ZS]',
       'Tasa de finalización del ciclo inferior de la educación secundaria, total (% del grupo etario pertinente) [SE.SEC.CMPT.LO.ZS]'],
      dtype='object')

In [30]:
df_sub = df[['Time','Tasa de alfabetización, mujeres adultas (% de mujeres de 15 años o más) [SE.ADT.LITR.FE.ZS]','Tasa de alfabetización, mujeres jóvenes (% de mujeres entre 15 y 24 años) [SE.ADT.1524.LT.FE.ZS]',
       'Tasa de alfabetización, total de jóvenes (% de personas entre 15 y 24 años) [SE.ADT.1524.LT.ZS]',
       'Tasa de alfabetización, varones jóvenes (% de varones entre 15 y 24 años) [SE.ADT.1524.LT.MA.ZS]']]
df_sub.head(10)

,Time,"Tasa de alfabetización, mujeres adultas (% de mujeres de 15 años o más) [SE.ADT.LITR.FE.ZS]","Tasa de alfabetización, mujeres jóvenes (% de mujeres entre 15 y 24 años) [SE.ADT.1524.LT.FE.ZS]","Tasa de alfabetización, total de jóvenes (% de personas entre 15 y 24 años) [SE.ADT.1524.LT.ZS]","Tasa de alfabetización, varones jóvenes (% de varones entre 15 y 24 años) [SE.ADT.1524.LT.MA.ZS]"
0,1990,..,..,..,..
1,2000,..,..,..,..
2,2011,93.6671295166016,98.7243423461914,98.2393798828125,97.7604675292969
3,2012,..,..,..,..
4,2013,..,..,..,..
5,2014,94.4846572875977,98.9728469848633,98.5409469604492,98.1067123413086
6,2015,94.4158172607422,98.9153366088867,98.5347290039063,98.1551818847656
7,2016,94.8902206420898,99.0252685546875,98.6683120727539,98.3120422363281
8,2017,..,..,..,..
9,2018,95.3189163208008,99.0696029663086,98.8516464233398,98.6338272094727

In [36]:
def minima_tasa_alfabetizacion(fila):
    if not np.isnan(fila).any():
        names = ['Time','Tasa de alfabetización, mujeres adultas (% de mujeres de 15 años o más) [SE.ADT.LITR.FE.ZS]','Tasa de alfabetización, mujeres jóvenes (% de mujeres entre 15 y 24 años) [SE.ADT.1524.LT.FE.ZS]',
       'Tasa de alfabetización, total de jóvenes (% de personas entre 15 y 24 años) [SE.ADT.1524.LT.ZS]',
       'Tasa de alfabetización, varones jóvenes (% de varones entre 15 y 24 años) [SE.ADT.1524.LT.MA.ZS]']
        return names[fila.index(max(fila))]
    else:
        return "None"

In [37]:
results = []
for fila in df_sub.values.tolist():
    results.append(minima_tasa_alfabetizacion(fila))
#El codigo falla porque algunas de las variables son tring
#tolist convierte los valores del dataframe a lista

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [38]:
results
#Si todas las variables fueran numericas, esto crearia una lista que muestra cual es la tasa maxima en cada fila cuando ninguno
#de los elementos en  la fila es vacio

[]

In [ ]:
results = Parallel(n_jobs =2,backend = 'multiprocessing')(map(delayed(minima_tasa_alfabetizacion),df_sub.values.tolist()))
#n:jobs es el numero de procesadores a utilizar
results