In [37]:
df = pd.read_csv(r"C:\Users\user\Downloads\2019Med2000_flatfiles\vwPlanBenefitsDetails.csv", nrows = 1000000)

In [38]:
df.head()
#Las primeras filas de la base
df.tail()
#ultimas filas de la base

,Contract_ID,Plan_ID,Segment_ID,Contract_Year,Language_Name,Category_Name,Category_Sort,Service_Name,Limit_Flag,Authorization_Flag,Referral Flag,Service_Sort,Network_Description,Cost_Share,Network_Sort
0,H0001,1,0,2019,English,Health plan deductible,1,NaN,NaN,NaN,NaN,0,NaN,$185,5
1,H0001,1,0,2019,Spanish,Deducibles de los planes de salud,1,NaN,NaN,NaN,NaN,0,NaN,$185,5
2,H0001,1,0,2019,English,Other health plan deductibles?,2,NaN,NaN,NaN,NaN,0,NaN,Yes,5
3,H0001,1,0,2019,Spanish,�Otros Deducibles del plan de salud?,2,NaN,NaN,NaN,NaN,0,NaN,S�,5
4,H0001,1,0,2019,English,Maximum out-of-pocket enrollee responsibility ...,3,NaN,NaN,NaN,NaN,0,NaN,Not Applicable,5

In [39]:
df.sample(frac = 1)
#datos desordenados, pero la base no queda guardada

,Contract_ID,Plan_ID,Segment_ID,Contract_Year,Language_Name,Category_Name,Category_Sort,Service_Name,Limit_Flag,Authorization_Flag,Referral Flag,Service_Sort,Network_Description,Cost_Share,Network_Sort
208636,H2450,2,0,2019,English,Doctor visits,8,Primary,NaN,2.0,2.0,1,NaN,$0 copay,5
344426,H3954,156,11,2019,English,Vision,15,Contact lenses,1.0,0.0,0.0,45,NaN,$0 copay,5
110502,H1350,15,1,2019,English,Comprehensive dental,14,Non-routine services,0.0,2.0,2.0,30,NaN,Not covered,5
143959,H1666,2,0,2019,English,Hearing,12,Hearing aids,1.0,0.0,0.0,20,Out-of-Network,$0 copay,19
74683,H1016,803,0,2019,Spanish,Servicios de salud mental,16,Hospital para pacientes internados - psiqui�trico,NaN,0.0,0.0,51,NaN,En 2019 las cantidades para cada per�odo de be...,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635960,H8432,810,0,2019,English,Hearing,12,Hearing exam,NaN,1.0,0.0,15,NaN,20%,5
152747,H1951,47,1,2019,Spanish,Deducibles de los planes de salud,1,NaN,NaN,NaN,NaN,0,NaN,$0,5
666184,H9403,1,0,2019,English,Mental health services,16,Inpatient hospital - psychiatric,NaN,1.0,0.0,51,NaN,$0 copay,5
641282,H8597,2,0,2019,English,Emergency care/Urgent care,10,Emergency,NaN,2.0,2.0,5,NaN,$0 copay,5
461910,H5253,802,0,2019,English,Medical equipment/supplies,22,Diabetes supplies,NaN,0.0,2.0,72,NaN,20% per item,5

In [40]:
df.columns
# Todas las columnas de la base

Index(['Contract_ID', 'Plan_ID', 'Segment_ID', 'Contract_Year',
       'Language_Name', 'Category_Name', 'Category_Sort', 'Service_Name',
       'Limit_Flag', 'Authorization_Flag', 'Referral Flag', 'Service_Sort',
       'Network_Description', 'Cost_Share', 'Network_Sort'],
      dtype='object')

In [41]:
df.Language_Name
#Busca los datos en la columna

0         English
1         Spanish
2         English
3         Spanish
4         English
           ...
706241    English
706242    Spanish
706243    Spanish
706244    Spanish
706245    Spanish
Name: Language_Name, Length: 706246, dtype: object

In [44]:
df.dtypes
#Tipo de datos de cada columna

Contract_ID             object
Plan_ID                  int64
Segment_ID               int64
Contract_Year            int64
Language_Name           object
Category_Name           object
Category_Sort            int64
Service_Name            object
Limit_Flag             float64
Authorization_Flag     float64
Referral Flag          float64
Service_Sort             int64
Network_Description     object
Cost_Share              object
Network_Sort             int64
dtype: object

In [45]:
df.values 
#Arreglo con todos los datos, permite hacer operaciones matriciales

array([['H0001', 1, 0, ..., nan, '$185', 5],
       ['H0001', 1, 0, ..., nan, '$185', 5],
       ['H0001', 1, 0, ..., nan, 'Yes', 5],
       ...,
       ['R7444', 13, 0, ..., 'Fuera de la red', '40%', 19],
       ['R7444', 13, 0, ..., 'Dentro de la red', 'Usted no paga', 6],
       ['R7444', 13, 0, ..., 'Fuera de la red', '40%', 19]], dtype=object)

In [50]:
df2 = df.head(2)
#crear nuevo dataframe

In [51]:
df2.head()
#visualizar dataframe

,Contract_ID,Plan_ID,Segment_ID,Contract_Year,Language_Name,Category_Name,Category_Sort,Service_Name,Limit_Flag,Authorization_Flag,Referral Flag,Service_Sort,Network_Description,Cost_Share,Network_Sort
0,H0001,1,0,2019,English,Health plan deductible,1,NaN,NaN,NaN,NaN,0,NaN,$185,5
1,H0001,1,0,2019,Spanish,Deducibles de los planes de salud,1,NaN,NaN,NaN,NaN,0,NaN,$185,5